@import url(https://fonts.googleapis.com/css?family=Satisfy); 
@import url('https://fonts.googleapis.com/css?family=Orbitron');


*{
margin: 0;
padding:0;
}
body{
width: 100%;
background-image: url('../img/designer2.jpg');
background-repeat: no-repeat;
background-size: 100%;
background-size: cover;/*posicionando a imagem com 100% da tela*/
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -ms-background-size:cover;
  -o-background-size:cover;

}
.navbar{
	height: 80px;
	background-color: rgba(85, 40, 111, 0.5);
	border-top: solid 1px #fff;
	box-shadow:20px 20px 80px #000000;
}
.navbar li a{
   text-shadow: 1px 1px 1px #000000;
}
#logo_min{
	color: #fff;
	text-shadow: 1px 1px 1px #000000;

}
.fa-spinner {
	color: #fff;
	margin: 0 auto;
}
.conteudo{
	margin-top: 200px;
}
.conteudo h2{
	color: #fff;
	text-shadow: 1px 1px 1px #000000;
	font-family: 'Satisfy', cursive;
}
.conteudo p{
	color: #fff;
	font-size: 20px;
	text-indent: 30px;
	font-family: 'Orbitron', sans-serif;

}
.conteudo h5{
	color: #F18F01;
	padding: 10px; 
	background-color: rgba(12, 9, 13, 0.6);
	border-bottom: solid 1px #fff;
	border-top: solid 1px #fff;
}
.faixa{
	border-top: solid 1px #fff;
	box-shadow:20px 20px 80px #000000;
}
.contaudo{
	border-right: 1px solid #fff;
}
.conteudo a{
	text-decoration: none;
}
.conteudo i{
	margin-top: 5px;
	color: #fff;
}

.conteudo a:hover{
	color: #fff;

}
#compartilhe i{
   color: #fff;	
   padding-left: 20px;
}
.thumbnail{
	margin-left: 10px;
	
}
.thumbnail span{
	color: #000000;
}


