@import url('https://fonts.googleapis.com/css?family=Rouge+Script'); 
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body { overflow-x: hidden; overflow-y: hidden; }/*retirando barra de rolagem*/
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
.hidden{
    display: none;
}
.video-container .title-container{
  position: absolute;
  z-index: 2000;
  top: 25%;
  width: 100%;
  color: #fff;
  text-align: center;
}
h1 p{
   font-family: 'Rouge Script', cursive;

}
.video-container .title-container a{
  color:#fff;
  text-decoration: none;
  transition: 2s;

}
.video-container .title-container a:hover{
  color:#F2784B;


}
